.advanced-filter {
  max-height: calc(100vh - 105px);
  &-table {
    &.ant-table-wrapper .ant-table {
      & .ant-table-thead .ant-table-cell {
        height: 46px;
        padding: 2px 16px !important;
      }
      & td {
        vertical-align: top;
      }
    }
    & .include-exclude {
      position: relative;
      &-input {
        background: var(--gray-7);
        height: 32px;
        border-radius: 6px;
        padding: 0 11px !important;
      }
      &-select {
        position: absolute;
        right: 0;
        inset-block: 0;
        height: 32px;
        min-width: 70px;
        &
          .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(
            .ant-select-customize-input
          ):not(.ant-pagination-size-changer)
          .ant-select-selector,
        & .ant-select-focused {
          box-shadow: none !important;
          border: 0 !important;
        }
        & .ant-select-selector {
          border: 0;
          background: transparent;

          &::before {
            content: "";
            background: var(--border-color);
            position: absolute;
            left: 0;
            width: 1px;
            height: calc(100% - 8px - 8px);
          }
        }
      }
    }
    & .ant-table-body {
      max-height: 200px !important;
    }
  }
}

.no-wrap-select .ant-select-selector {
  display: flex;
  flex-wrap: nowrap !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  min-height: 32px; /* Optional */
}

.no-wrap-select .ant-select-selection-overflow {
  flex-wrap: nowrap !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
