@use "../base/variables" as *;

.#{$prefix}-modal-custom-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid var(--border-color);
  &[data-bottom-pad="true"] {
    padding-bottom: 0;
  }
}

.ant-modal {
  .#{$prefix}-modal-content {
    padding: 0;
  }

  .#{$prefix}-modal-footer {
    padding: 16px 0;
    margin-inline: 16px;
    border-top: 1px solid var(--border-color);
  }

  .#{$prefix}-modal-header {
    padding: 12px 16px;
    border-bottom: 1px solid var(--border-color);
  }
  .#{$prefix}-modal-body {
    padding-inline: 16px;
  }

  // TODO: will change below code with compoent src/components/modals/SuccessModal.tsx
  .modal-success-img {
    display: block;
    margin: auto;
  }
  .modal-success-title {
    display: flex;
    justify-content: center;
  }
  .modal-success-description {
    min-width: 300px;
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 14px !important;
    margin-bottom: 16px !important;
  }
}

.menu-item {
  padding: 5px 12px;
  cursor: pointer;

  &.menu-item-selected {
    background: var(--primary-light);
    border-radius: 4px;
    font-weight: 600;
    transition: 0.5s;
  }
}
.look-creative-modal {
  & .look-modal-footer {
    border: 0;
    padding-top: 0;
  }
}
.ant-modal-root .ant-modal-centered .ant-modal {
  margin: 20px 0;
}
.look-modal-body {
  overflow: auto;
  max-height: calc(100vh - 57px - 8px - 40px);
  &:has(+ .look-modal-footer) {
    max-height: calc(100vh - 49px - 20px - 20px - 8px - 73px - 12px);
  }
  & .look-modal-custom-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--white);
    z-index: 999;
    [data-theme="dark"] & {
      background: var(--modal-bg);
    }
  }
}

.workspace-modal {
  top: 100px;
}
