@use "../base/variables" as *;

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.search-bar-wrapper {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid transparent;
  min-width: 250px;
  .ant-input.ant-input-filled {
    padding-right: 30px;
  }
  .clear-search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    button {
      margin: 0;
      padding: 0 4px;
    }
  }
  .ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: transparent !important;
  }
}

.look-filter {
  width: 300px;
  &-inner {
    padding: 0 !important;
  }
  .ant-collapse-header {
    padding-left: 24px;
    padding-right: 24px;
  }
  .ant-collapse-content-box {
    padding: 0 !important;
    padding-block: 0 !important;
    .filter-panel {
      max-height: 200px;
      overflow-y: auto;
      width: 100%;
      padding-top: 0;
      padding-bottom: 12px;
      .filter-checkbox {
        padding: 5px 16px;
      }
    }
  }
  &-body {
    max-height: calc(100vh - 320px - 48px);
    overflow-y: auto;
  }
  & .ant-collapse .ant-collapse-item:last-child > .ant-collapse-content {
    border-radius: 0;
  }
}
.look-sticky-srh {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: var(--table-row-selected-header-bg);
  width: 100%;
  [data-theme="dark"] & {
    background: var(--modal-bg);
  }
}
.table-wrapper {
  position: relative;
  width: 100%;
  top: 0;
  .table-pagination-wrapper {
    width: 100%;
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    z-index: 999;
    text-align: right;
    border-top: 1px solid var(--lite-silver);
    [data-theme="dark"] & {
      background: inherit;
      border-color: var(--border-color-1);
    }
    & .ant-pagination {
      display: flex;
      justify-content: flex-end;
    }
    & .ant-typography {
      font-size: 13px;
    }
  }
  .ant-table-row-level {
    &.ant-table-row {
      &-level-0,
      &-level-1,
      &-level-2,
      &-level-3 {
        .expand-button {
          padding: 0 4px !important;
          .anticon {
            font-size: 12px !important;
            color: var(--text-tertiary) !important;
          }
        }
        .report-name-column.ant-table-cell-with-append {
          .expand-button {
            position: absolute;
            z-index: 1;
          }

          & .expand-table-row {
            padding-left: 35px;
          }
        }
      }
      &-level-0 {
        .ant-table-cell-with-append {
          padding: 0 !important;
        }
      }
      &-level-1 {
        .expand-button {
          left: var(--indent-size);
        }
        &.nested-level-col-arrow {
          .ant-table-cell-with-append {
            border-bottom: 0;
          }
        }
        .ant-table-cell-with-append {
          .nested-bar {
            position: absolute;
            top: 0;
            left: 50%;
            bottom: 0;
            width: 1px;
            background: var(--lite-silver);
          }
        }
        .row-name-indent {
          padding-left: 32px !important;
        }
      }
      // TODO: need optimisarion for repeated code
      &-level-2 {
        .expand-button {
          --indent-size: #{$groupReportIndentSize * 2};
          left: var(--indent-size);
        }
        &.nested-level-col-arrow {
          .ant-table-cell-with-append {
            border-bottom: 0;
          }
        }
        .ant-table-cell-with-append {
          .nested-bar {
            position: absolute;
            top: 0;
            left: 50%;
            bottom: 0;
            width: 1px;
            background: var(--lite-silver);
          }
        }
        .row-name-indent {
          padding-left: 32px !important;
        }
      }
      &-level-3 {
        .expand-button {
          --indent-size: #{$groupReportIndentSize * 3};
          left: var(--indent-size);
        }
        &.nested-level-col-arrow {
          .ant-table-cell-with-append {
            border-bottom: 0;
          }
        }
        .ant-table-cell-with-append {
          .nested-bar {
            position: absolute;
            top: 0;
            left: 50%;
            bottom: 0;
            width: 1px;
            background: var(--lite-silver);
          }
        }
        .row-name-indent {
          padding-left: 32px !important;
        }
      }
      // TODO - for active row background - (for future use)
      // &-level-0:has(+ .ant-table-row-level-1, + .custom-table-row) {
      //   background-color: $table-row-selected-header-bg !important;
      //   transition: background-color 0.2s ease-in-out;
      // }
    }
  }
  .custom-table-row {
    .nested-close {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 50%;
      left: 50%;
      border-left: 1px solid var(--lite-silver);
      border-bottom: 1px solid var(--lite-silver);
      border-end-start-radius: 50%;
      .nested-close-circle {
        position: absolute;
        bottom: -3px;
        right: 0px;
        width: 6px;
        height: 6px;
        background-color: var(--lite-silver);
        border-radius: 100%;
        [data-theme="dark"] & {
          background-color: var(--bulk-action-bg);
        }
      }
    }
  }
  & .ant-table-body {
    & .ant-tag {
      margin-bottom: 0 !important;
    }
  }
}

.column-filter-dropdown {
  .column-filter-dropdown-header {
    height: 46px;
    display: flex;
    align-items: center;
    padding-inline: 12px;
    border-bottom: 1px solid var(--border-color);
  }
  .column-filter-dropdown-body {
    padding: 12px;
  }
  .column-filter-dropdown-footer {
    padding-top: 12px;
    border-top: 1px solid var(--border-color);
  }
}

.active-filters-wrapper {
  overflow: hidden;
}
.report-name-column {
  .ant-table-row-indent {
    & + .nested-col-group-lines + button,
    & + button {
      & + .ant-table-cell-content {
        display: inline !important;
        .ant-space {
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: calc(100% - var(--indent-size));
          .ant-table-row-level-1 & {
            --indent-size: #{$groupReportIndentSize * 2};
          }
          .ant-table-row-level-2 & {
            --indent-size: #{$groupReportIndentSize * 3};
          }
          .ant-table-row-level-3 & {
            --indent-size: #{$groupReportIndentSize * 4};
          }
        }
      }
    }
  }
}

.nested-col-group-lines {
  display: flex;
  position: absolute;
  left: 16px;
  top: 0;
  height: 100%;

  span {
    display: block;
    width: 1px;
    background: var(--lite-black);
    height: 100%;
    position: relative;
    &:not(:first-child) {
      margin-left: calc(var(--indent-size) - 1px);
    }
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      height: 1px;
    }
    &::before {
      background-color: var(--white);
      width: var(--indent-size);
      z-index: 1;
      transform: translateX(-50%);
    }
    &::after {
      background-color: inherit;
      width: 1px;
      z-index: 2;
    }
    &:last-child {
      .open-in-new-tab-row & {
        top: 50%;
        transform: translateY(-100%);
        width: calc((var(--indent-size) / 2) - 3px);
        height: calc((var(--indent-size) / 2) - 3px);
        border-left: 1px solid var(--lite-black);
        border-bottom: 1px solid var(--lite-black);
        background: transparent;
        border-radius: 0 0 0 100%;
        &::after {
          height: 100%;
          width: 1px;
          background: var(--lite-black);
          left: -1px;
          bottom: 100%;
        }
        &::before {
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: var(--lite-black);
          right: 0;
          transform: translate(6px, 2.5px);
        }
      }
    }
  }
}
// for table footer shadow
.ant-table-summary {
  box-shadow: 0px -5px 9px -5px var(--summary-shadow-color) !important;
}

.nested-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-settings {
  .ant-popover-inner {
    padding: 5px;
    .ant-menu {
      border: 0;
      .ant-menu-submenu .ant-menu-submenu-title,
      .ant-menu-item {
        margin: 0;
        padding-left: 15px !important;
        width: 100%;
        border-radius: 8px;
      }
      .ant-menu-submenu-selected .ant-menu-submenu-title {
        color: var(--black);
      }
      & .ant-menu-item-selected {
        color: var(--black);
        font-weight: 400;
        background-color: var(--border-color) !important;
        [data-theme="dark"] & {
          color: var(--primary);
          background: var(--primary-hover) !important;
          &:hover {
            color: var(--primary);
            background: var(--primary-hover) !important;
          }
        }
      }
      & .ant-menu-submenu-title {
        [data-theme="dark"] & {
          &:hover {
            color: var(--primary);
            background: var(--primary-hover) !important;
          }
        }
      }
      & .ant-menu-item {
        [data-theme="dark"] & {
          &:hover {
            color: var(--primary);
            background: var(--primary-hover) !important;
          }
        }
        & .ant-menu-item-selected :active {
          background-color: var(--border-color) !important;
        }
      }
    }
    & .ant-menu-inline > .ant-menu-item,
    & .ant-menu-vertical > .ant-menu-item,
    & .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
    & .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
      height: 35px;
      line-height: 26px;
    }
    & .ant-menu-sub {
      padding: 2px 4px 4px;
      margin: 4px 0;
      [data-theme="dark"] & {
        background: var(--modal-bg);
      }
      & li {
        margin-top: 2px !important;
      }
    }
  }
  .ant-menu-light .ant-menu-item-selected {
    background-color: var(--border-color);
  }
}
// this style used for set table component height for all cases (small-38px, medium-46px, large-54px)
.ant-table-wrapper {
  & .ant-table {
    font-size: 12px !important;
    & .ant-typography {
      font-size: 12px !important;
    }
    & .ant-table-cell {
      height: 54px;
      padding: 10px 16px !important;
    }

    &.ant-table {
      &-small {
        & .ant-table-cell {
          height: 38px;
          padding: 2px 8px !important;
        }
      }
      &-middle {
        & .ant-table-cell {
          height: 46px;
          padding: 6px 8px !important;
        }
      }
    }
  }
}

.custom-pagination {
  & .ant-select-selector {
    cursor: pointer !important;
  }
  & .ant-select-selection-search {
    display: none;
  }
  & .ant-select-single.ant-select-open .ant-select-selection-item {
    color: var(--black);
  }
  & .ant-select-arrow {
    width: 16px;
    &::before {
      content: "";
      background: url("/src/assets/images/down-outlined.svg") no-repeat center
        right/16px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      [data-theme="dark"] & {
        filter: invert(1);
      }
    }

    & .anticon {
      display: none;
    }
  }
}

.column-set-body {
  max-height: calc(100vh - 300px);
  margin-bottom: 16px;
}
.column-setting-default-btn {
  &:hover {
    color: var(--text-secondary) !important;
  }
}
.ant-table-cell-fix-left {
  left: 0;
}
.ant-table-wrapper .ant-table-column-sorter-up.active,
.ant-table-wrapper .ant-table-column-sorter-down.active {
  color: var(--black);
}

.ant-table-placeholder {
  & .ant-table-cell:first-child:not(.ant-table-selection-column) {
    padding-left: 8px !important;
  }
}
[data-theme="dark"] {
  .look-filter {
    & .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content {
      background: var(--modal-bg);
    }
  }
}
.table-custom-height {
  & .ant-table-body {
    max-height: 400px !important;
  }
}

.row-warning-alert {
  & td {
    background-color: #f3e8ac !important; /* light red */
    [data-theme="dark"] & {
      background-color: #2c270d !important; /* darker red for dark mode */
    }
    &.ant-table-cell-row-hover {
      background: #f3edcf !important;
      [data-theme="dark"] & {
        background: #201c09 !important;
      }
    }
  }
}
