.ant-wrapable-tag {
  text-wrap: wrap;
  display: flex;
  align-items: flex-start;
  margin-inline-end: 0px;
  .ant-tag-close-icon {
    margin-top: 6px;
  }
}

.combinations-container {
  background-color: var(--white);
  box-shadow: var(--shadow-color);
  width: 100%;
  border-radius: 8px;
  padding-inline: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-top: 8px;
  .ant-tag {
    .ant-typography {
      text-transform: capitalize;
    }
  }
}

.ant-select-selector {
  .custom-ant-selection-item {
    color: var(--text-primary);
    background-color: var(--border-color);
    .ant-tag-close-icon {
      color: var(--text-tertiary);
    }
  }
}
