.ant-tour {
  width: 350px;
  gap: 24px;

  .tour-message-wrraper {
    display: flex;
    width: 350px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.look-tour-modal {
  padding: 60px 20px;
  max-width: 465px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &-vector {
    max-height: 300px;
    height: 100%;
    width: auto;
    margin: 0 auto 24px;
  }
  & h2 {
    line-height: 28px;
  }
  & p {
    line-height: 22px;
  }
}
