@use "../base/variables" as *;

.#{$prefix}-uploader-preview {
  height: calc(100% + 32px); // 32px is the height of remove image btn
  width: 100%;
  overflow: hidden;
  & img {
    border-radius: 4px;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.ant-upload-list-picture-card {
  margin-top: 8px;
}

.preview-image {
  min-height: 150px;
  max-height: 150px;
  max-width: 100%;
  background-color: var(--complementary-white-2);
}

.look-common-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
